*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    /* border: 2px red solid; */
    background-image: linear-gradient(to right , black, blue);
    align-items: center;
}

.container img{
    width: 35px;
    position: absolute;
    left: 600px;
    top: 10px;
}

.container h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 10px;
}

.box{
    width: 60%;
    height: 70vh;
    /* border: 2px red solid; */
    position: absolute;
    top: 70px;
    left: 270px;
    align-items: center;
    /* box-shadow: 5px 5px 10px gray; */
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}


.right-side{
    width: 48%;
    /* border: 1px white solid; */
    height: 75vh;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    background-image:radial-gradient(white,rgba(180, 178, 178, 0.685))
}

.right-side input[type="text"]{
    width: 60%;
    height: 5vh;
    position: relative;
    left: 40px;
    top: 10px;
    border: 2px white solid;
    color: green;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;

}

.right-side input[value="Sumbit"]{
    width: 4.5rem;
    height: 2.4rem;
    position: absolute;
    left: 330px;
    top: 7px;
    text-align: center;
    cursor: pointer;
    border: 2px black solid;
    border-radius: .45rem;
}

.right-side input[value="Play"]{
    width: 6rem;
    height: 5vh;
    background-image: linear-gradient(to right, white red);
    position: absolute;
    top: 31.5rem;
    left: 9rem;
    cursor: pointer;
}

::placeholder{
    color: Red;
    font-weight: 800;
}

.left-side{
    width: 48%;
    /* border: 1px white solid; */
    height: 75vh;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    background-image:radial-gradient(white,rgba(180, 178, 178, 0.685))
}

.left-side input[type="text"]{
    width: 60%;
    height: 5vh;
    position: relative;
    left: 40px;
    top: 10px;
    border: 2px white solid;
    font-size: 20px;
    font-weight: 800;
    color: Blue;
    font-family: 'Times New Roman', Times, serif;
    
}

.left-side input[value="Sumbit"]{
    width: 4.5rem;
    height: 2.4rem;
    position: absolute;
    left: 810px;
    top: 7px;
    text-align: center;
    cursor: pointer;
    border: 2px black solid;
    border-radius: .45rem;
}


.left-side input[value="Play"]{
    width: 6rem;
    height: 5vh;
    background-image: linear-gradient(to right, white red);
    position: absolute;
    top: 31.5rem;
    left: 38rem;
    cursor: pointer;

}

